{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Мой интернет-магазин shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Мой магазин</a>
        <div class="user-auth">
            {% if request.user.is_authenticated %}
                Привет, {{ request.user.username }}!
                <a href="{% url 'shop:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'shop:login' %}">Войти</a>
                <span class="auth-separator">|</span>
                <a href="{% url 'shop:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <div id="subheader">


      <div class="cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        Your cart:
        <a href="{% url "cart:cart_detail" %}">
        {{ total_items }} item{{ total_items|pluralize }},
        ${{ cart.get_total_price }}
        </a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}
        
       

      </div>

      
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
   
  </body>
</html>
